auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096
  log_level: warn

common:
  instance_addr: 127.0.0.1
  path_prefix: {{ loki_data_dir }}
  storage:
    filesystem:
      chunks_directory: {{ loki_data_dir }}/chunks
      rules_directory: {{ loki_data_dir }}/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

compactor:
  working_directory: {{ loki_data_dir }}/compactor
  retention_enabled: true
  delete_request_store: filesystem

limits_config:
  retention_period: {{ loki_retention }}
  reject_old_samples: true
  reject_old_samples_max_age: 168h
