apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: {{ prometheus_url }}
    isDefault: true
    jsonData:
      timeInterval: "60s"

  - name: Loki
    type: loki
    url: {{ loki_url }}
